<div class="wrapper fadeInDown">
  <div id="formContent">
    <form (submit)="inscription()">
      <input type="text" [(ngModel)]="username"  id="username" class="fadeIn first" name="login" placeholder="Nom d'utilisateur" required="required">
      <input type="email" [(ngModel)]="mail"  id="mail" class="fadeIn second" name="login" placeholder="Email" required="required">
      <input type="text" [(ngModel)]="nom" id="nom" class="fadeIn third" name="login" placeholder="Nom" required="required">
      <input type="text" [(ngModel)]="prenom"  id="prenom" class="fadeIn fourth" name="login" placeholder="Prenom" required="required">
      <input type="password" [(ngModel)]="password"  id="password" class="fadeIn fifth" name="login" placeholder="Mot de passe" required="required">
      <input type="password" [(ngModel)]="passwordConfirm"  id="confpassword" class="fadeIn sixth" name="login" placeholder="Confirmation Mot de passe" required="required">
      <input type="submit" class="fadeIn seventh" value="Inscription">
    </form>
    <div id="formFooter" *ngIf="message != undefined">
      {{message}}
    </div>
  </div>
</div>
