<h1>Liste des vaccins proposes</h1>
<table class="table table-hover table-responsive-lg">
  <thead class="thead-1">
  <th scope="col">Id</th>
  <th scope="col">Nom</th>
  <th scope="col">Nombre de doses</th>
  <th scope="col">Temps entre doses</th>
  <th scope="col">Lots</th>
  </thead>
  <tbody id="contenu">
  <tr class="tr-1" *ngFor="let unVaccin of lesVaccins">
    <td>{{unVaccin.id}}</td>
    <td>{{unVaccin.nomVac}}</td>
    <td>{{unVaccin.nbrDoses}}</td>
    <td>{{unVaccin.tempsEntreDoses}}</td>
    <td><button (click)="getLesLots(unVaccin.id)">Lots</button></td>
  </tr>
  </tbody>
</table>
<div id="tabLot" *ngIf="lesLots != undefined">
<table class="table table-hover table-responsive-lg">
  <thead class="thead-1">
  <th scope="col">No de lot</th>
  <th scope="col">Quantite Lot</th>
  <th scope="col">Quantite Restante</th>
  </thead>
  <tbody>
  <tr class="tr-1" *ngFor="let unLot of lesLots">
    <td>{{unLot.id}}</td>
    <td>{{unLot.QuantiteLot}}</td>
    <td>{{unLot.QteRestante}}</td>
  </tr>
  </tbody>
</table>
  <button [disabled]="afficherForm" (click)="afficherFormAjoutLot()">Ajouter un Lot</button>
  <form *ngIf="afficherForm" id="formAjoutLot" (ngSubmit)="ajouterLot(f)" #f="ngForm">
    <input type="number" id="formNoLot" name="formNoLot" placeholder="noLot" ngModel />
    <input type="number" id="QuantiteLot" name="QuantiteLot" min="1" placeholder="QuantiteLot"  ngModel/>
    <input type="submit" value="Valider">
  </form>
</div>
