<div class="wrapper fadeInDown">
  <div id="formContent">
    <form (ngSubmit)="login()">
      <input type="text" [(ngModel)]="mail" id="login" class="fadeIn second" name="login" required="required" placeholder="Nom d'utilisateur">
      <input type="password" [(ngModel)]="mdp" id="password" class="fadeIn third" name="login" required="required" placeholder="Mot de passe">
      <input type="submit" class="fadeIn fourth" value="Connexion">
    </form>
    <div id="formFooter" *ngIf="message != undefined">
      {{message}}
    </div>
  </div>
</div>
