<h1>Reserver un creneau</h1>
<b>Vaccin choisi : </b>
<select name="idVaccin" [(ngModel)]="vaccinChoisi">
  <option *ngFor="let unVaccin of lesVaccins" [ngValue]="unVaccin.id" id="{{unVaccin.id}}">{{unVaccin.nomVac}}</option>
</select>
<button (click)="chargerLesCreneaux()">Rechercher des creneaux</button>
<table class="table table-hover table-responsive-lg">
  <thead class="thead-1">
  <th scope="col">Date</th>
  <th scope="col">Heure</th>
  <th scope="col"></th>
  </thead>
  <tbody id="contenu">
  <tr class="tr-1" *ngFor="let unCreneau of lesCreneaux">
    <td>{{unCreneau.dateCreneau != undefined?unCreneau.dateCreneau.getDate() + "/" + unCreneau.dateCreneau.getMonth() + "/" + unCreneau.dateCreneau.getFullYear(): ""}}</td>
    <td>{{unCreneau.dateCreneau != undefined?unCreneau.dateCreneau.getHours() + ":" + unCreneau.dateCreneau.getMinutes(): ""}}</td>
    <td><button (click)="reserverCreneau(unCreneau.id)">Reserver</button></td>
  </tr>
  </tbody>
</table>
<button *ngIf="isStaff" (click)="afficherFormAjoutCreneau()">Ajouter un Creneau</button>
<form *ngIf="isStaff" (ngSubmit)="ajouterCreneau()" id="formAddCreneau" [hidden]="formAjoutCreneau">
  <select [(ngModel)]="vaccinChoisiAjoutCreneau" (ngModelChange)="refreshFormLot()" name="idVaccin">
    <option selected>--Choisir un Vaccin</option>
    <option *ngFor="let leVaccin of lesVaccins" [ngValue]="leVaccin.id" id="formAdd_{{leVaccin.id}}">{{leVaccin.nomVac}}</option>
  </select>
  <select name="Lots" [(ngModel)]="lotChoisiAjoutCreneau" >
    <option selected>--Choisir un Lot</option>
    <option  *ngFor="let unLot of lesLots" [ngValue]="unLot.id" id="lot_{{unLot.noLot">{{unLot.id}} : {{unLot.QteRestante}}/{{unLot.QuantiteLot}}</option>
  </select>
  <input type="datetime-local" [(ngModel)]="dateAjoutLot" id="dateCreneau" />
  <input type="submit" value="Ajouter le Creneau" />
</form>
